* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
    text-decoration: none;
  }

  .app {
    /* background-color: #eee9; */
    background-image: url(./pict/safety.jpeg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
  }

  .loginbox{
    width: 350px;
    height: 560px;
    background: #000;
    color: #fff;
    top: 50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 80px 30px;
  }

  .loginbox > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -3%;
    left: calc(50% - 50px)
  }

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: #3339;
  }

  .auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .loginbox > h1 {
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 0 0 20px;
  }
  
  .loginbox > p {
    margin: 16px;
    text-decoration: underline;
    font-weight: bold;
  }

  .loginbox  > form {
    border: 1px solid #3339;
    padding: 20px;
    border-radius: 5px;
    background-color: #aaa9;
  
    display: flex;
    flex-direction: column;
  }
  
  .loginbox > form > input {
    width: 100%;
    margin-bottom: 20px;
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
  }
  
  .loginbox > form > button {
   border : none;
   outline: none;
   height: 40px;
   background: red;
   color: #fff;
   font-size: 18px;
   border-radius: 20px;
  }

  /* .loginbox > form > button{
    cursor : pointer;
    background: #ffc107;
    color: #000;
  } */


  /* .loginbox > form > input [type="text"] , input[type="password"]
  {
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
  } */

  .public {
    height: 100vh;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .profile > h1 {
    margin: 8px;
    font-size: 2em;
    text-align: center;
  }
  
  .profile > h3 {
    margin: 16px 0;
    text-decoration: underline;
  }

  .profile > form {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    border: 1px solid #3339;
    background-color: #aaa9;
    padding: 16px;
    border-radius: 5px
  }
  
  .profile > form > input,
  .profile > form > button {
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px
  }
  .officer{
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding-right: 50px;
    padding-left: 80px;
    padding-bottom: 20px;
    border:2px solid black;
    border-radius: .5em;
    margin: 3em;
  }